html {
  scroll-behavior: smooth;
}
main {
  max-width: 950px;
  margin: 0 auto;
  padding: 30px auto;
}
body {
  background-color: rgb(232, 228, 226);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(61, 48, 37);
  margin: 0;
}
p {
  line-height: 1.6;
}
ul {
  line-height: 1.6;
}
header {
  padding: 20px;
  background-color: rgb(210, 204, 207);
  border: 1px solid rgb(147, 75, 99);
  margin-bottom: 10px;
}
header h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 650;
  margin-bottom: 1px;
}
header p {
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
header nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 5px;
  margin-bottom: 20px;
}
header nav a {
  color: rgb(147, 75, 99);
  text-decoration: none;
  box-shadow: 2px 2px 4px rgb(110, 62, 79);
  border-radius: 8px;
  font-size: 16px;
  padding: 5px 20px;
  font-weight: 600;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
header nav a:hover {
  background-color: rgb(147, 75, 99);
  color: seashell;
}
header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center 75%;
  border: 1px solid rgb(110, 62, 79);
}
#introduction {
  border-bottom: 2px solid rgba(105, 67, 80, 0.25);
  padding-bottom: 50px;
  padding-top: 30px;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  margin-top: 40px;
}
h2::after {
  content: "✦";
  display: block;
  font-size: 16px;
  padding: 10px;
}
.city-card {
  border-bottom: 1.5px solid rgba(105, 67, 80, 0.25);
  padding-bottom: 20px;
  margin: 50px auto;
}
.city-title::after {
  content: "";
  display: block;
  width: 70px;
  background-color: rgb(147, 75, 99);
  margin: 10px auto 0;
  padding: 1px;
}
.city-card h2 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 50px auto;
  font-size: 33px;
}
.city-image {
  width: 100%;
  max-width: 860px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  object-position: center 56%;
  border: 2px solid rgb(110, 62, 79);
}
#coffee-picture {
  object-position: center 70%;
}
.thumbnails {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 30px;
}
.thumbnail {
  width: 100px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid rgb(110, 62, 79);
  border-radius: 5px;
}
.thumbnail.active {
  border: 2.5px solid rgb(56, 77, 77);
  border-radius: 0px;
}
.memories {
  margin: 40px auto;
  background-color: rgb(191, 203, 203);
  padding: 5px 15px;
  border-radius: 5px;
}
footer {
  font-size: 11px;
  border-top: 1px solid rgb(61, 48, 37);
  margin-top: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(210, 204, 207);
}
.footer-buttons a {
  text-decoration: none;
  color: rgb(147, 75, 99);
  font-size: 14px;
  background-color: rgb(220, 226, 226);
  padding: 5px 15px;
  margin-left: 10px;
  border: 1px solid rgb(110, 62, 79);
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgb(142, 92, 110);
  text-align: center;
  font-weight: 600;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    transform 0.25s ease;
}
footer p {
  margin-left: 10px;
}
.footer-links p {
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 12px;
  margin-left: 10px;
}
.footer-links {
  margin-bottom: 30px;
}
.footer-buttons {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
}
.footer-buttons a:hover {
  background-color: rgb(147, 75, 99);
  color: seashell;
  transform: translateY(-2px);
}
.hidden {
  display: none;
}
#back-to-top {
  background-color: rgb(216, 194, 203, 0.8);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 20px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  main {
    padding: 0 50px;
  }
  body {
    font-size: 16px;
  }
  .thumbnail {
    object-fit: cover;
    width: 70px;
    height: 70px;
  }
  header {
    padding: 25px 20px;
  }
  header nav {
    flex-wrap: wrap;
    gap: 10px;
  }
  header nav a {
    padding: 10px 14px;
    font-size: 18px;
  }
  header p {
    font-size: 22px;
  }
  .city-card p {
    font-size: 16px;
  }
  .city-card h2 {
    font-size: 30px;
  }
  .memories ul {
    font-size: 16px;
  }
  .footer-links p {
    font-size: 16px;
  }
  .footer-links a {
    padding: 13px 18px;
    font-size: 18px;
  }
  #back-to-top {
    font-size: 22px;
    padding: 10px 14px;
  }
}
